.head {
	font-family: "Times New Roman","PMingLiU", "新細明體", "serif";
	font-size: 16pt;
	text-align: center;
	font-weight: bold;
	margin-top: 70px; /*上邊界*/
	margin-bottom: 70px;
}
.head_1 {
	font-family: "Times New Roman","PMingLiU", "新細明體", "serif";
	font-size: 16pt;
	text-align: center;
	font-weight: bold;
	margin-top: 1.5em; /*上邊界*/
	margin-bottom: 1.5em;
}
.head_2 {
	font-family: "Times New Roman","PMingLiU", "新細明體", "serif";
	font-size: 14pt;
	font-weight: bold;
	margin-left: 0em;  /*左邊界值*/
	margin-top: 1.2em; /*上邊界*/
	margin-bottom: 1.2em;
}
.head_2_1 {
	font-family: "Times New Roman","PMingLiU", "新細明體", "serif";
	font-size: 14pt;
	font-weight: bold;
	margin-left: 1em;  /*左邊界值*/
	margin-top: 1em; /*上邊界*/
	margin-bottom: 1em;
}
.head_3 {
	font-family: "Times New Roman","PMingLiU", "新細明體", "serif";
	font-size: 14pt;
	margin-left: 2em;  /*左邊界值*/
	margin-top: 1.2em; /*上邊界*/
	margin-bottom: 1.2em;
}
.head_3_1 {
	font-family: "Times New Roman","PMingLiU", "新細明體", "serif";
	font-size: 14pt;
	margin-left: 2em;  /*左邊界值*/
	margin-top: 1em; /*上邊界*/
	margin-bottom: 1em;
}
.head_3_2 {
	font-family: "Times New Roman","PMingLiU", "新細明體", "serif";
	font-size: 14pt;
	margin-left: 3em;  /*左邊界值*/
	margin-top: 1em; /*上邊界*/
	margin-bottom: 1em;
}
.head_3_3 {
	font-family: "Times New Roman","PMingLiU", "新細明體", "serif";
	font-size: 14pt;
	font-weight: bold;	
}
.body_nor {
	font-family: "Times New Roman", "新細明體";
	font-size: 15pt;
	line-height: 150%; /*設定行高*/ 
}
.body_right {
	font-family: "Times New Roman", "新細明體";
	font-size: 15pt;
	line-height: 110%; /*設定行高*/ 
	text-align: right;
}
.body_margin-1 {/*整段縮排4em，首行凸排2em */
	font-family: "Times New Roman", "新細明體";
	font-size: 15pt;
	line-height: 150%; /*設定行高*/ 
	margin-left: 4em;  /*左邊界值*/
	text-indent: -2em; /*首行文字縮排*/

}
.body_margin-1_1 {/*整段縮排4em，首行凸排1em */
	font-family: "Times New Roman", "新細明體";
	font-size: 15pt;
	line-height: 150%; /*設定行高*/ 
	margin-left: 4em;  /*左邊界值*/
	text-indent: -3em; /*首行文字縮排*/
}
.body_margin-1_2 {/*整段縮排4em，首行凸排 0.5em */
		font-family: "Times New Roman", "新細明體";
	font-size: 15pt;
	line-height: 150%; /*設定行高*/;
	margin-left: 4em; /*左邊界值*/;
	text-indent: -1em; /*首行文字縮排*/
}
.body_margin-1_3 {/*整段縮排4em，首行凸排1em */
	font-family: "Times New Roman", "新細明體";
	font-size: 15pt;
	line-height: 100%; /*設定行高*/ 
	margin-left: 8em;  /*左邊界值*/
	text-indent: -3em; /*首行文字縮排*/
}

.body_margin-2 {/*整段縮排4 em*/
	font-family: "Times New Roman", "新細明體";
	font-size: 15pt;
	line-height: 150%; /*設定行高*/ 
	margin-left: 4em;  /*左邊界值*/
	text-indent: 0em; /*首行文字縮排*/
}
.body_margin-2_1 {/*整段縮排6 em*/
	font-family: "Times New Roman", "新細明體";
	font-size: 15pt;
	line-height: 150%; /*設定行高*/ 
	margin-left: 6em;  /*左邊界值*/
	text-indent: 0em; /*首行文字縮排*/
}
.body_margin-2_2 {/*整段縮排2 em*/
	font-family: "Times New Roman", "新細明體";
	font-size: 15pt;
	line-height: 150%; /*設定行高*/ 
	margin-left: 2em;  /*左邊界值*/
	text-indent: 0em; /*首行文字縮排*/
}
.body_margin-2_3 {/*整段縮排 em 左右邊留白*/
	font-family: "Times New Roman", "新細明體";
	font-size: 12pt;
	line-height: 150%; /*設定行高*/
	padding-left: 8em;  /*左邊界值*/
	padding-right:10em;  /*右邊界值*/
	text-indent: 0em; /*首行文字縮排*/
}
.body_margin-3 {/*日文序用標楷體*/
	font-family: 標楷體;
	font-size: 15pt;
	line-height: 150%; /*設定行高*/ 
	margin-left: 0em;  /*左邊界值*/
	text-indent: 2em; /*首行文字縮排*/	
	margin-bottom: 50px; /*下邊界值*/
}
.body_margin-4 { /*整段不縮排，首行縮排2em，段落間距 2em*/
	font-family: "Times New Roman", "新細明體";
	font-size: 15pt;
	line-height: 150%; /*設定行高*/ 
	margin-left: 0em;  /*左邊界值*/
	text-indent: 2em;
	margin-bottom: 2em; /*下邊界值*/
}
.body_margin-4_1 { /*整段不縮排，首行縮排2em，段落間距 2em*/
	font-family: "Times New Roman", "新細明體";
	font-size: 15pt;
	line-height: 150%; /*設定行高*/ 
	margin-left: 0em;  /*左邊界值*/
	text-indent: 2em;
	margin-bottom: 0em; /*下邊界值*/
}
.body_margin-4_1_1 { /*整段不縮排，首行縮排2em，段落間距 2em*/
	font-family: "Times New Roman", "新細明體";
	font-size: 15pt;
	line-height: 150%; /*設定行高*/ 
	margin-left: 6em;  /*左邊界值*/
	text-indent: -4em;
	margin-bottom: 0em; /*下邊界值*/
}
.body_margin-5 {
	/*目錄用，不縮排，段落無間距，右邊縮排15em*/
	font-family: "Times New Roman", "新細明體";
	font-size: 15pt;
	line-height: 150%; /*設定行高*/;
	margin-left: 0em; /*左邊界值*/;
	text-indent: 0em;
	margin-right: 0em; /*右邊界值*/
}
.body_unicode {
	font-family: "Arial Unicode MS";	
	font-size: 15pt;
	line-height: 150%; /*設定行高*/ 
	margin-bottom: 50px; /*下邊界值*/
}
span.corr {
color:#FF0000;
font-weight: normal; 
}
.note {
font-family: "Times New Roman", "新細明體";
font-size: 12pt;
line-height: 100%; /*設定行高*/ 

}

.list_ch{ 
font-family: "新細明體";
font-size: 15pt;	
list-style-type: none; /*不編號*/
line-height: 150%; /*設定行高*/ 
margin-left: 2em;  /*左邊界值*/
text-indent: -2em;
} 
.list_en{ 
font-family: "Times New Roman";
font-size: 15pt;	
list-style-type: decimal; /*阿拉伯數字*/
line-height: 150%; /*設定行高*/ 
margin-left: 2em;  /*左邊界值*/
text-indent: 0px;
}
.in{
list-style-position: inside;
}
.out{
list-style-position: outside;
}
a:link{
	font: small serif;
	color: #FF00FF;
	text-decoration: underline;
}
.position {
	font-family: "Times New Roman", "新細明體";
	margin-left:2em;
	margin-right:2em;
}
.p2 {
	font-family: "Times New Roman", "新細明體";
	margin-left:6em;
	margin-right:2em;
}
#myTable{
width:70%;border-collapse:collapse;margin:1em 0;
margin-left:auto;
margin-right:auto;
font-family: "Times New Roman", "新細明體";
}
#myTable th,td{text-align:left;padding:.1em;border:1px solid #fff;}
th{background-color:#328aa4;color:#fff;}
td{background:#e5f1f4;}
tr.even td{background:#e5f1f4;}
tr.odd td{background:#f8fbfc;}
tr.over td{background:#bce774;}
tr.out td{
}